.investor-table-container, .commitment-container {
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.investor-card, .commitment-info-card {
    /* border: 1px solid rgb(243, 230, 230); */
    padding: 1em;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: 450px;
    cursor: pointer;
}

.investor-address {
    color: rgb(138, 132, 132);
}


.commitment-info-card {
    padding: 0;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.asset-class {
    flex: 1; 
    padding: 0 0.5em;
    font-weight: 300;
    font-size: 1.3em;
}

.commitment-amount {
    display: flex;
}

.amount {
    font-weight: bold;
    color: rgb(12, 56, 82);
    font-size: 2em;
}

.currency-symbol {
    font-size: 0.6em;
    color: rgb(153, 242, 202);
    font-weight: 300;
    margin-left: 2px;
}
.commitment-amount-cont {
    background-color: rgb(241, 114, 135);
    height: 6em;
    width: 6em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}